:root {
  --wbsc-blue: #00a7d7;
}

h1 {
	color: var(--wbsc-blue);
}

h2 {
	color: var(--wbsc-blue);
	margin-top: 10px;
}

p {
	padding: 0 2px;
}

label {
	padding-right: 5px;
}

.demo {
	color: red;
}

.blank {
	display:none;
}

.wbsc-action-select {
	width: 250px;
}

.wbsc-action-button {
	background-color: #00a7d7;
	margin: 5px;
}

.wbsc-clear-button {
	background-color: #ffad33;
	margin: 5px;
}

.wbsc-small-button {
	width: 40px;
}

.wbsc-render-button {
	background-color: #44dd77;
	margin: 5px;
}

.wbsc-unrender-button {
	background-color: #a31808;
	margin: 5px;
}

.wbsc-render-pos {
	height: 32px;
}

.wbsc-paragraph {
	text-align: justify;
	padding-bottom: 40px;
	font-size: 14px;
}

.wbsc-footer {
	position: fixed; 
	bottom: 0; 
	left: 0;
	width: 100%; 
	height: 30px; 
	vertical-align: middle;
	padding-top: 3px;
	background-color: var(--wbsc-blue);
}

.wbsc-footer a:link, .wbsc-footer a:visited, .wbsc-footer a:hover, .wbsc-footer a:active {
    color: white;
}

.wbsc-inputs {
	background-color: #ccddee;
	border: 2px solid black;
	margin: 0px auto;
	margin-bottom: 5px;
	padding: 3px;
	width: 60%;
}

.wbsc-buttons {
	background-color: #aaff33;
	border: 2px solid black;
	margin: 0px auto;
	padding: 5px;
	width: 60%;
}

.wbsc-select {
	margin-right: 3px;
}